{% extends 'base.html' %}
{% block title %}
Iron Mart Checkout
{% endblock title %}
{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="col-lg-12">
            <form class="needs-validation" novalidate method="post" action="/insert_order/">
                {% csrf_token %}
                <div class="row">

                    <div class="col-lg-6 mb-3">
                        <div class="checkout-address">
                            <div class="title-left">
                                <h3>Billing address</h3>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name *</label>
                                    <input name="first_name" type="text" class="form-control" id="firstName" placeholder="" value="{{user.first_name}}" required>
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name *</label>
                                    <input name="last_name" type="text" class="form-control" id="lastName" placeholder="" value="{{user.last_name}}" required>
                                    <div class="invalid-feedback"> Valid last name is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email Address *</label>
                                <input name="email" type="email" class="form-control" id="email" placeholder=""  value="{{user.email}}">
                                <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                            </div>
                            <div class="mb-3">
                                <label for="phone">Phone *</label>
                                <input name="phone" type="text" class="form-control" id="phone" placeholder="" required value="{{user.phone}}">
                                <div class="invalid-feedback"> Please enter your valid number. </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Address *</label>
                                <input name="address" type="text" class="form-control" id="address" placeholder=""> 
                            </div>
                            <div class="mb-3">
                                <label for="zip">Zip *</label>
                                <input name="zip_code" type="text" class="form-control" id="zip" placeholder="" required>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="odr-box">
                                    <div class="title-left">
                                        <h3>Shopping cart</h3>
                                    </div>
                                    <div class="rounded p-2 bg-light">
                                        {% for item in cart %}
                                        {% with product=item.product %}
                                        <div class="media mb-2 border-bottom">
                                            <div class="media-body">{{product.name}}
                                                <div class="small text-muted">Total Price: {{item.total_price}} Tk</div>
                                            </div>
                                        </div>
                                        {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="order-box">
                                    <div class="title-left">
                                        <h3>Your order</h3>
                                    </div>
                                    <div class="d-flex">
                                        <div class="font-weight-bold">Product</div>
                                        <div class="ml-auto font-weight-bold">Total</div>
                                    </div>
                                    <hr class="my-1">
                                    <div class="d-flex">
                                        <h4>Sub Total</h4>
                                        <div class="ml-auto font-weight-bold">{{cart.get_total_price}} Tk</div>
                                    </div>
                                    <div class="d-flex">
                                        <h4>Shipping Cost</h4>
                                        <div class="ml-auto font-weight-bold"> Free </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex gr-total">
                                        <h5>Grand Total</h5>
                                        <div class="ml-auto h5">{{cart.get_total_price}} Tk</div>
                                        <input type="hidden" name="total_price" value="{{ cart.get_total_price }}">
                                    </div>
                                    <hr> </div>
                            </div>
                            <button class="btn btn-success">Place Order</button>
                        </div>
                    </div>
                
            </div>
        </form>
        </div>

        </div>
    </div>
    <!-- End Cart -->
    
{% endblock content %}